<div class="sidebar sidebar-right flex-col">
    <div class="column-to-top-red"></div>
    <div class="sidebar-title"><h4>Join the Mailing List!</h4></div>
    <div class="sidebar-container flex-col">
        {% include "./signup-module.njk" %}
    </div>
</div>
