<div class='sidebar-content'>
  <p class='sans-serif'>
    Get updates when a new post goes live, feature is added, and other important events. You won’t receive any spam, pinky promise!
  </p>
  <form method="POST" name='newsletter' id='newsletter-signup' action='newsletter/signup'>
    <div class='focus-border'>
      <label for='POST-email'> Enter Your E-Mail Address</label>
      <span><input name='email' id='POST-email' type='text' placeholder='youremail@domain.com'></span>
    </div>
    <div class='button'><input type='submit' value='Submit'></button>
  </form>
</div>
