{% if popularPosts %}
<ol class='sidebar-content'>
  {% for post in popularPosts %}
  <li class='post-link-title'>
    <a href='posts/{{post.link}}'>
      <h5>{{post.title}}</h5>
    </a>
  </li>
  {% endfor %}
</ol>
{% else %}
<h5> Sorry, nothing found :(</h5>
{% endif %}
