<div class="sidebar sidebar-right flex-col">
    <div class="column-to-top-red"></div>
    div class="sidebar-title"><h4>Popular Articles</h4></div>
    <div class="sidebar-container flex-col">
        {% include "./popular-module.njk" %}
    </div>
</div>
