<div class="sidebar sidebar-left" id="social-link-bar">
    <div class="column-to-top-blue"></div>
    <div class="sidebar-title"><h4>Social</h4></div>
    <div class="sidebar-container">
        {% include "./social-module.njk" %}
    </div>
</div>
