<div class="sidebar sidebar-right" id="author-info">
    <div class="column-to-top-red"></div>
    <div class="sidebar-title"><h4>About the Author</h4></div>
    <div class="sidebar-container flex-col">
        {% include "./author-module.njk" %}
    </div>
</div>
