<div class="sidebar-content">
    <img src="{{author.photo}}" alt="Picture of author, {{author.name}}">
</div>
<div class="sidebar-content flex-col">
    <div class="author-name">
        <h3> {{author.name}} </h3>
    </div>
    <div class="author-biography">
        <p> {{author.biography}} </p>
    </div>
</div>
