<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
  <title> Categories - {{blogname}} </title>

  <meta name="description" content="A blog about just about anything (but mostly programming">
  <meta name="keywords" content="data science, programming, front-end, back-end, html, css, javascript, js">
  <link rel="stylesheet" href="/resources/css/base.css">
  <link rel="shortcut icon" href="/resources/images/favicon.png" type="image/png">
  <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,400i,600,700|Lora|Ubuntu+Mono:400,400i" rel="stylesheet">
</head>


{% import "macros.njk" as macro %}

{% include "navigation.njk" %}

<div class="spacer-image parallax" style="background-image: url('https://source.unsplash.com/random/daily');" value="0.3"></div>
<main class="parallax background-square-full" value="0.3">
    <div class="main-container flex-row">
          <div id="react-container" class='card article-container'></div>
        {% include "./newsletter-signup/signup-sidebar.njk" %}
    </div>
    <div id="mobile-info-bar" class="card">
      <div class="flex-col">
        <h4 class="card-title">Join the Mailing List!</h4>
        {% include "./newsletter-signup/signup-module.njk" %}
      </div>
    </div>
</main>
{% include "footer.njk" %}
