{% import "macros.njk" as macro %}
<footer>
    <div class="flex-row background-triangle-bare parallax" id="footer-content">
        <div id="footer-links">
            <div class="site-links">
                <nav id='footer-navigation'>
                    {{ macro.navMenu(navigation, 'flex-col') }}
                </nav>
            </div>
            <div class="social-links">
               {# {{ macro.makeSocialMediaLinks(socialMedia) }} #}
            </div>
        </div>
        <div id="footer-text" class="flex-col">
            <div class="site-summary">
                <blockquote>{{ footer.summary }} </blockquote>
            </div>
            <div class="copyright">
                  <p>{{blogname}} - {{ footer.copyright }} </p>
            </div>
        </div>
    </div>
    <script type='text/javascript'>
      // Button hover animation
      var butts = document.querySelectorAll('div.button');
        [].forEach.call(butts, function(e){
          e.addEventListener('animationend', (event)=>{
            event.target.classList.toggle('hover');
          });
          e.addEventListener('mouseenter', (event)=> {
            var button = event.target;
            button.classList.toggle('hover');
          });
          e.addEventListener('click', (event) => {
            event.preventDefault();
            e.firstElementChild.click();
          })
        });
    </script>
    {{ macro.importJS()}}
</footer>
</body>
