<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">

  {% if isPost %}
    <title> {{ title }} - {{blogname}} </title>
    <meta name="author" content="{{ author.name }}"">
  {% else %}
    <title> {{blogname}} </title>
  {% endif %}

  <meta name="description" content="A blog about just about anything (but mostly programming">
  <meta name="keywords" content="data science, programming, front-end, back-end, html, css, javascript, js">
  <link rel="stylesheet" href="../resources/css/base.css">
  <link rel="shortcut icon" href="../resources/images/favicon.png" type="image/png">
  <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,400i,600,700|Lora|Ubuntu+Mono:400,400i" rel="stylesheet">
</head>
