{% include "head.njk" %}

{% include "navigation.njk" %}

{% import "macros.njk" as macro %}

<main style="overflow: hidden;">
    <!-- For front page, have pictures with hover effects like in Projects of current site
     Post title in top, excerpt in bottom. JS function to cut excerpt w/ ... to fit in
     Placement of image in recent Articles section could be positioned w/ sin function
     In header, maybe use random image API to get new one every day (Unsplash.com api)
     Can do image thing with posts to but use post category as search term for new img
     Crazier idea for front, edge detection alg that place title along edge in picture
     Parallax on blog title so it touches nav bar as it leaves the screen, JS function -->
    <div class="main-container">
        <div class="flex-row">
        <div class="card article-container">
            <div class="card-title">
                <h1> Recent Articles </h1>
            </div>
            <div class="home-masonry-grid">
                {% if posts %}
                    {% for post in posts %}
                       {{ macro.makePostSummary(post, baseURL) }}
                    {% endfor %}
                {% else %}
                <h3>Sorry, no posts were found :(</h3>
                {% endif %}
            </div>
        </div>
           {% include "./newsletter-signup/signup-sidebar.njk" %}
        </div>
        <div id="mobile-info-bar">
          <div class="flex-col">
            <h4>Join the Mailing List!</h4>
            {% include "./newsletter-signup/signup-module.njk" %}
          </div>
        </div>
    </div>
</main>
</body>
{% include "footer.njk" %}
