{% macro navMenu(options, class='') %}
    <ul class='{{ class }}'>
    {% for link in options %}
        <li><a href='{{ link.href }}'>{{ link.title }}</a></li>
    {% endfor %}
{% endmacro %}

{% macro makePostSummary(post) %}
    <a class="grid-item post-link" href="posts/{{link}}">
        <div class="post cover-image" style="background-image: url('https://source.unsplash.com/featured/?{{ category[0] }}');">
            <div class="post-title">
                <h3>{{ post.title }}</h3>
            </div>
            <div class="post-summary">
                <p>{{ post.summary }}</p>
            </div>
        </div>
    </a>
{% endmacro %}

{% macro makeSocialMediaLinks(sites) %}
    {% for site in sites %}
        <a href='{{ site.link }}'>
            <img src='{{ site.icon }}' class='social-media-img' alt='Link to my {{ site.name }}'></img>
        </a>
    {% endfor %}
{% endmacro %}

{% macro makeUnsplashImage() %}

{% endmacro %}

{% macro importJS() %}
    <script src='../resources/js/masonry-min.js'></script>
    <script src='../resources/js/main.js'></script>
{% endmacro %}
