{% import "macros.njk" as macro %}
<body>
    <header>
      {% if isPost %}
        <nav id='nav-bar' class='nav-shown'>
            <div class='site-name'>{{blogname}}</div>
            {{ macro.navMenu(navigation, 'hoverUnderline') }}
        </nav>
        <nav id='mobile-nav-bar' class='nav-shown'>
            <div id='burger-holder'>
                <div class='bar1'></div>
                <div class='bar2'></div>
                <div class='bar3'></div>
                <div class='bar4'></div>
                <div class='bar5'></div>
            </div>
            <div class='mobile-menu'>
                {{ macro.navMenu(navigation, 'hoverUnderline') }}
            </div>
            <div class='site-name'>{{blogname}}</div>
        </nav>
      {% else %}
          <div id="landing" class="full-screen-grid-container">
              <div class="parallax grid-full cover-image" value=0.05 style="background-image: url('https://source.unsplash.com/featured');"></div>
              <div class="grid-col0-row2 color-backdrop grid-all-center"><h1>{{blogname}}</h1></div>
                  <nav class='grid-col0-row4 grid-row-center' id='landing-navigation'>
                     {{ macro.navMenu(navigation, 'hoverUnderline') }}
                  </nav>
          </div>
      {% endif %}
      {% include "modal.njk" %}
    </header>
