{% include "head.njk" %}

{% import "macros.njk" as macro %}

{% include "navigation.njk" %}

<div class="spacer-image parallax" style="background-image: url('https://source.unsplash.com/weekly?{{tags[1]}}');" value="0.3"></div>
<main class="parallax background-square-bare" value="0.3">
    <div class="main-container flex-row">
        {% include "./social-media/social-sidebar.njk" %}
        <div id="content-container" class="">
            <div class="single-post-title">
                <h1 style="margin-bottom: 10px;">{{ title }}</h1>
            </div>
            <div class="post-info">
                <p style="margin-bottom: 25px;">Posted on: <em>{{ date }}</em></p>
            </div>
            <div class="post-content">
                {{ body }}
            </div>
        </div>
        {% include "./author/author-sidebar.njk" %}
    </div>
    <div id="mobile-info-bar" class="card">
      <div class="flex-row">
        {% include "./author/author-module.njk" %}
      </div>
    </div>
</main>
{% include "footer.njk" %}
