<head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WQGZWL7');</script>
<!-- End Google Tag Manager -->

<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-98686427-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-98686427-2');
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-98686427-2', 'auto');
  ga('send', 'pageview');

</script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
  <title> Search - {{ blogname }} </title>
  <meta name="description" content="A blog about just about anything (but mostly programming">
  <meta name="keywords" content="data science, programming, front-end, back-end, html, css, javascript, js">
  <link rel="stylesheet" href="/resources/css/base.css">
  <link rel="shortcut icon" href="/resources/images/favicon.png" type="image/png">
  <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,400i,600,700|Lora|Ubuntu+Mono:400,400i" rel="stylesheet">
</head>

{% import "macros.njk" as macro %}

{% include "navigation.njk" %}

<div class="spacer-image parallax" style="background-image: url('https://source.unsplash.com/random/daily');" value="0.3"></div>
<main class="parallax background-square-full" value="0.3">
    <div class="main-container flex-row">
          <div class='card article-container'>
          <div class="card-title"><h1>Search Results</h1></div>
            <div class='home-masonry-grid'>
              <div class='grid-sizer'></div>
              {% if posts | length > 0 %}
                {% for post in posts %}
                  {{ macro.makePostSummary(post, baseURL) }}
                {% endfor %}
              {% else %}
                <h2> Sorry, no posts were found :( </h2>
              {% endif %}
            </div>
          </div>
        {% include "./newsletter-signup/signup-sidebar.njk" %}
    </div>
    <div id="mobile-info-bar">
      <div class="flex-col">
        <h4>Join the Mailing List!</h4>
        {% include "./newsletter-signup/signup-module.njk" %}
      </div>
    </div>
</main>
{% include "footer.njk" %}
